---
title: MIXIT Art
---
{% extends "layouts/_layout.html" %}

{% block content %}
	

<main>
  <div class="product-card">
    <div class="page-block-title">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <div class="h2 h2-outline h2-outline-sm">bundle box</div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-card">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-10 offset-xl-1">
            <div class="simple-wrapper">
              <div class="product-card-header">
                <div class="row">
                  <div class="col-12">
                    <div class="product-card-key">Код товара:441253</div>
                    <h1 class="product-card-title">Набор «Макияж без макияжа» <span>1 233 рублей</span></h1>
                    <div class="product-card-contols">
                      <a href="#" class="btn btn-primary btn--cart btn-sm"><span class="icon-cart"></span> В корзину</a>
                      <a href="#" class="btn btn-secondary btn--like btn-sm"><span class="icon-like"></span></a>
                      <span class="product-card-delivery">Бесплатная доставка от 3 000 рублей</span>
                      <a href="lesson-card.html" class="product-card-recommends">
                        <div class="product-card-recommends__avatar">
                          <img src="img/products/recommends.jpg" alt="">
                        </div>
                        <div class="product-card-recommends__name">
                          <span>@sonya_miro</span>
                          <div>рекомендует этот набор</div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-card-body">
                  <div class="swiper-card">
                    <div class="product-card-preview swiper-wrapper">
                      <div class="swiper-slide product-card-preview-video">
                          <img src="img/products/mixit-card-product-1.png" alt="">
                      </div>
                      
                      <div class="swiper-slide product-card-preview-video">
                          <div class="video-block">
                              <video class="video-play" muted poster="img/products/video-dummy.png">
                                  <source src="/video/demo-video.mp4" type="video/mp4"></source>
                                  <!-- <source src="/video/demo-video.mp4" type="video/ogg"></source> -->
                                  <p>"К сожалению, ваш браузер не поддерживает видео HTML5."</p>
                                </video>
                                <div class="video-controls">
                                  <span class="play-button"></span>
                                  <button type="button" class="mute-video"></button>
                                </div>                       
                          </div>
                      </div>
  
                        <div class="swiper-slide product-card-preview-list">
                              <div class="product-card-preview-image">
                                <img src="img/products/mixit-card-product-1.png" alt="">
                              </div>
                              <div class="product-card-preview-image">
                                <img src="img/products/mixit-card-product-2.png" alt="">
                              </div>
                        </div>
                        <div class="swiper-slide product-card-preview-list">
                            <div class="product-card-preview-image">
                                <img src="img/products/mixit-card-product-1.png" alt="">
                            </div>
                            <div class="product-card-preview-image">
                              <img src="img/products/mixit-card-product-2.png" alt="">
                            </div>
                        </div>
                  </div>
                  <div class="swiper-scrollbar"></div>
                </div> 
                <div class="product-card-inside">
                  <div class="product-card-inside-title">В наборе 6 товаров</div>
                  <div class="product-card-inside-list">
                    <div class="row">
                      <div class="col-6 col-lg-4">
                          <div class="main-product-list-item">
                              <a href="#" class="main-product-list-item__image">
                                <img src="img/products/item-dark.png" alt="">
                              </a>
                              <div class="main-product-list-item__subname">Androgen CC-cream</div>
                              <a href="#" class="main-product-list-item__title">Карандаши для глаз</a>
                              <div class="main-product-list-item-controls">
                                <a href="#" class="btn btn-secondary btn--cart"><span class="icon-cart"></span> 1200 руб</a>
                                <a href="#" class="btn btn-secondary btn--like"><span class="icon-like"></span></a>
                              </div>
                            </div>
                      </div>
                      <div class="col-6 col-lg-4">
                          <div class="main-product-list-item">
                              <a href="#" class="main-product-list-item__image">
                                <img src="img/products/item.png" alt="">
                              </a>
                              <div class="main-product-list-item__subname">Androgen CC-cream</div>
                              <a href="#" class="main-product-list-item__title">Карандаши для глаз</a>
                              <div class="main-product-list-item-controls">
                                <a href="#" class="btn btn-secondary btn--cart"><span class="icon-cart"></span> 1200 руб</a>
                                <a href="#" class="btn btn-secondary btn--like"><span class="icon-like"></span></a>
                              </div>
                            </div>
                      </div>
                      
                      <div class="col-6 col-lg-4">
                          <div class="main-product-list-item">
                              <a href="#" class="main-product-list-item__image">
                                <img src="img/products/item-yellow.png" alt="">
                              </a>
                              <div class="main-product-list-item__subname">Androgen CC-cream</div>
                              <a href="#" class="main-product-list-item__title">Карандаши для глаз</a>
                              <div class="main-product-list-item-controls">
                                <a href="#" class="btn btn-secondary btn--cart"><span class="icon-cart"></span> 1200 руб</a>
                                <a href="#" class="btn btn-secondary btn--like"><span class="icon-like"></span></a>
                              </div>
                            </div>
                      </div>
                      <div class="col-6 col-lg-4">
                          <div class="main-product-list-item">
                              <a href="#" class="main-product-list-item__image">
                                <img src="img/products/item.png" alt="">
                              </a>
                              <div class="main-product-list-item__subname">Androgen CC-cream</div>
                              <a href="#" class="main-product-list-item__title">Карандаши для глаз</a>
                              <div class="main-product-list-item-controls">
                                <a href="#" class="btn btn-secondary btn--cart"><span class="icon-cart"></span> 1200 руб</a>
                                <a href="#" class="btn btn-secondary btn--like"><span class="icon-like"></span></a>
                              </div>
                            </div>
                      </div>
                      <div class="col-6 col-lg-4">
                          <div class="main-product-list-item">
                              <a href="#" class="main-product-list-item__image">
                                <img src="img/products/item-dark.png" alt="">
                              </a>
                              <div class="main-product-list-item__subname">Androgen CC-cream</div>
                              <a href="#" class="main-product-list-item__title">Карандаши для глаз</a>
                              <div class="main-product-list-item-controls">
                                <a href="#" class="btn btn-secondary btn--cart"><span class="icon-cart"></span> 1200 руб</a>
                                <a href="#" class="btn btn-secondary btn--like"><span class="icon-like"></span></a>
                              </div>
                            </div>
                      </div>

                      <div class="col-6 col-lg-4">
                          <div class="main-product-list-item">
                              <a href="#" class="main-product-list-item__image">
                                <img src="img/products/item.png" alt="">
                              </a>
                              <div class="main-product-list-item__subname">Androgen CC-cream</div>
                              <a href="#" class="main-product-list-item__title">Карандаши для глаз</a>
                              <div class="main-product-list-item-controls">
                                <a href="#" class="btn btn-secondary btn--cart"><span class="icon-cart"></span> 1200 руб</a>
                                <a href="#" class="btn btn-secondary btn--like"><span class="icon-like"></span></a>
                              </div>
                            </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="product-card-description">
                  <div class="product-card-description-controls">
                      <div class="product-card-description-title">О продукте</div>
                      <div class="product-card-description-bottom">
                          <div class="tabs-list-body content">
                              <div id="howitwork" class="tabs-list-body__item active">
                                  <p>Хочешь обновленную,мерцающую кожу без особых усилий? У нас есть для тебя отличное предложение. Набор Coco Scrubing от MIXIT- это невероятный подарок тебе и твоей коже.
                                    <br>В состав набора входят два скраба , которые очистят, отполируют кожу, а также подарят ей волшебный блеск.</p>
                                  <p>А экстракты арбуза и гуавы перенесут тебя на необитаемый остров, где вечно светит солнце и плещется теплое море. Два скраба для тела включают в себя: кокосовую стружку, масла и соль. Такой состав выравняет цвет и структуру кожи, простимулирует обмен клеток, а также напитает кожу витаминами и микроэлементами. Coco Scrubing - это счастье для твоего тела.</p>
                                  
                              </div>
                              <div id="structure" class="tabs-list-body__item">
                                <ul>
                                  <li>Пункт 1</li>
                                  <li>Пункт 2</li>
                                  <li>Пункт 3</li>
                                </ul>
                              </div>
                              <div id="forwhom" class="tabs-list-body__item">
                                  <p>экстракт снежных водорослей обеспечивает улучшение барьерных свойств кожного покрова, стимулирует выработку коллагена, активирует факторы долголетия в клетках;</p>
                              </div>
                              <div id="application" class="tabs-list-body__item">
                                  <p>экстракт снежных водорослей обеспечивает улучшение барьерных свойств кожного покрова, стимулирует выработку коллагена, активирует факторы долголетия в клетках;</p>
                                  <p>экстракт снежных водорослей обеспечивает улучшение барьерных свойств кожного покрова, стимулирует выработку коллагена, активирует факторы долголетия в клетках;</p>
                              </div>


                          </div>
                          <div class="product-card-description-numbers">
                            <div class="product-card-description-numbers-item">
                              <div class="product-card-description-numbers-item__lead">+5C</div>
                              <div class="product-card-description-numbers-item__desc">Температура хранения:
                                  от +5°С до +25°С</div>
                            </div>
                            <div class="product-card-description-numbers-item">
                              <div class="product-card-description-numbers-item__lead">2 years</div>
                              <div class="product-card-description-numbers-item__desc">Срок хранения без воздействия прямых солнечных лучей 2 года</div>
                            </div>

                          </div>
                      </div>

                  </div>
                </div>
              </div> 
              <div class="fly-circle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="fly-controls">
          <a href="#" class="btn btn-primary btn--cart btn-sm"><span class="icon-cart"></span>Купить набор за 1 366 руб.</a>
          <a href="#" class="btn btn-secondary btn--like btn-sm"><span class="icon-like"></span></a>
      </div>
    </div>
		
  </div>
</main>

{% endblock %}
