---
title: MIXIT Art
---
{% extends "layouts/_layout.html" %}

{% block content %}
	

<main>
  <div class="product-card">
    <div class="page-block-title">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <div class="h2 h2-outline h2-outline-sm">product</div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-card">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 offset-xl-1">
            <div class="simple-wrapper">
              <div class="product-card-header">
                <div class="row">
                  <div class="col-12">
                    <div class="product-card-key">Код товара:441253</div>
                    <h1 class="product-card-title">Хайлайтер для тела, 150мл, <span>1 233 рублей</span></h1>
                    <div class="product-card-contols">
                      <a href="#" class="btn btn-primary btn--cart btn-sm"><span class="icon-cart"></span> В корзину</a>
                      <a href="#" class="btn btn-secondary btn--like btn-sm"><span class="icon-like"></span></a>
                      <span class="product-card-delivery">Бесплатная доставка от 3 000 рублей</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-card-body">
                <div class="swiper-card">
                  <div class="product-card-preview swiper-wrapper">
                    <div class="swiper-slide product-card-preview-video">
                        <img src="img/products/mixit-card-product-1.png" alt="">
                    </div>
                    
                    <div class="swiper-slide product-card-preview-video">
                        <div class="video-block">
                            <video class="video-play" muted poster="img/products/video-dummy.png">
                                <source src="/video/demo-video.mp4" type="video/mp4"></source>
                                <!-- <source src="/video/demo-video.mp4" type="video/ogg"></source> -->
                                <p>"К сожалению, ваш браузер не поддерживает видео HTML5."</p>
                              </video>
                              <div class="video-controls">
                                <span class="play-button"></span>
                                <button type="button" class="mute-video"></button>
                              </div>                       
                        </div>
                    </div>

                      <div class="swiper-slide product-card-preview-list">
                            <div class="product-card-preview-image">
                              <img src="img/products/mixit-card-product-1.png" alt="">
                            </div>
                            <div class="product-card-preview-image">
                              <img src="img/products/mixit-card-product-2.png" alt="">
                            </div>
                      </div>
                      <div class="swiper-slide product-card-preview-list">
                          <div class="product-card-preview-image">
                              <img src="img/products/mixit-card-product-1.png" alt="">
                          </div>
                          <div class="product-card-preview-image">
                            <img src="img/products/mixit-card-product-2.png" alt="">
                          </div>
                      </div>
                </div>
                <div class="swiper-scrollbar"></div>
                </div> 
                <div class="product-card-description">
                  <div class="product-card-description-controls tabs-list">
                      <div class="main-functions-controls tabs-list-head">
                          <div href="#howitwork" class="tabs-list-head__item active">Как работает</div>
                          <div href="#structure" class="tabs-list-head__item">Состав</div>
                          <div href="#forwhom" class="tabs-list-head__item">Для кого</div>
                          <div href="#application" class="tabs-list-head__item">Применение</div>
                      </div>
                      <div class="product-card-description-bottom">
                          <div class="tabs-list-body content">
                              <div id="howitwork" class="tabs-list-body__item active">
                                <p>экстракт снежных водорослей обеспечивает улучшение барьерных свойств кожного покрова, стимулирует выработку коллагена, активирует факторы долголетия в клетках;</p>
                                <p>экстракт фитопланктона уменьшает потерю влаги, стимулирует клеточную детоксикацию, увеличивает жизнеспособность клеток;</p>
                                <p>экстракт кораллины устраняет минеральный дефицит, насыщает кожу микроэлементами, стабилизирует обмен веществ, нормализует кровообращение;</p>
                                <p>морской коллаген обеспечивает лифтинг, визуально выравнивает поверхность кожи, поддерживает ее упругость и эластичность;</p>
                                <p>жемчужная пудра раскрывает внутреннее сияние кожи;</p>
                                <p>светоотражающие частицы дарят телу невероятное сияние, мгновенно поднимая настроение.</p>
                              </div>
                              <div id="structure" class="tabs-list-body__item">
                                <ul>
                                  <li>Пункт 1</li>
                                  <li>Пункт 2</li>
                                  <li>Пункт 3</li>
                                </ul>
                              </div>
                              <div id="forwhom" class="tabs-list-body__item">
                                  <p>экстракт снежных водорослей обеспечивает улучшение барьерных свойств кожного покрова, стимулирует выработку коллагена, активирует факторы долголетия в клетках;</p>
                              </div>
                              <div id="application" class="tabs-list-body__item">
                                  <p>экстракт снежных водорослей обеспечивает улучшение барьерных свойств кожного покрова, стимулирует выработку коллагена, активирует факторы долголетия в клетках;</p>
                                  <p>экстракт снежных водорослей обеспечивает улучшение барьерных свойств кожного покрова, стимулирует выработку коллагена, активирует факторы долголетия в клетках;</p>
                              </div>
                          </div>
                          <div class="product-card-description-numbers">
                            <div class="product-card-description-numbers-item">
                              <div class="product-card-description-numbers-item__lead">+5C</div>
                              <div class="product-card-description-numbers-item__desc">Температура хранения:
                                  от +5°С до +25°С</div>
                            </div>
                            <div class="product-card-description-numbers-item">
                              <div class="product-card-description-numbers-item__lead">2 years</div>
                              <div class="product-card-description-numbers-item__desc">Срок хранения без воздействия прямых солнечных лучей 2 года</div>
                            </div>

                          </div>
                      </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="fly-controls">
          <a href="#" class="btn btn-primary btn--cart btn-sm"><span class="icon-cart"></span>Купить набор за 1 366 руб.</a>
          <a href="#" class="btn btn-secondary btn--like btn-sm"><span class="icon-like"></span></a>
      </div>
    </div>
  </div>
  <div class="bundle-block">
    <div class="page-block-title">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <div class="h2 h2-outline h2-outline-sm">bundle box</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-bundle-list">
        <div class="container">
          <div class="row">
            <div class="col-xl-10 offset-xl-1">
              <div class="row">
                
                <div class="col-12 col-md-6">
                  <div class="main-bundle-list-item">
                    <a href="#" class="main-bundle-list-item__image">
                      <img src="img/products/bundle-item.png" alt="">
                    </a>
                    <a href="#" class="main-bundle-list-item__title">Макияж без макияжа</a>
                    <div class="main-bundle-list-item__description">Для идеальной кожи звездный визажист советует использовать крем-базу, подсвечивающую тональную основу и пудру для безупречного финиша.</div>
                    <div class="main-bundle-list-item__advantages">
                      <ul>
                        <li>Выравнивающий тональный крем</li>
                        <li>Тональный стик</li>
                        <li>Удлиняющая тушь</li>
                      </ul>
                    </div>
                    <div class="main-product-list-item-controls">
                      <a href="#" class="btn btn-secondary btn--cart btn-lg"><span class="icon-cart"></span> 1200 руб</a>
                      <a href="#" class="btn btn-secondary btn--like btn-lg"><span class="icon-like"></span></a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="main-bundle-list-item main-bundle-list-item--green">
                    <a href="#" class="main-bundle-list-item__image">
                      <img src="img/products/bundle-item-dark.png" alt="">
                    </a>
                    <a href="#" class="main-bundle-list-item__title">Макияж без макияжа</a>
                    <div class="main-bundle-list-item__description">Для идеальной кожи звездный визажист советует использовать крем-базу, подсвечивающую тональную основу и пудру для безупречного финиша.</div>
                    <div class="main-bundle-list-item__advantages">
                      <ul>
                        <li>Выравнивающий тональный крем</li>
                        <li>Тональный стик</li>
                        <li>Удлиняющая тушь</li>
                      </ul>
                    </div>
                    <div class="main-product-list-item-controls">
                      <a href="#" class="btn btn-secondary btn--cart btn-lg"><span class="icon-cart"></span> 1200 руб</a>
                      <a href="#" class="btn btn-secondary btn--like btn-lg"><span class="icon-like"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>

{% endblock %}
